<div class="container mt-5">
    {{!-- <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <h2 class="tm-block-title">List of Accounts</h2>
                <p class="text-white">Accounts</p>
                <select class="custom-select">
                    <option value="0">Select account</option>
                    <option value="1">Admin</option>
                    <option value="2">Editor</option>
                    <option value="3">Merchant</option>
                    <option value="4">Customer</option>
                </select>
            </div>
        </div>
    </div> --}}
    <!-- row -->
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block t m-block-products">
                <div class="tm-product-table-container" style="height: 100%;">
                    <table class="table table-hover tm-table-small tm-product-table" style="height: 100%;">
                        <thead>
                            <tr>
                                {{!-- <th scope="col">&nbsp;</th> --}}
                                <th scope="col">NAME</th>
                                <th scope="col">USERNAME</th>
                                <th scope="col">EMAIL</th>
                                <th scope="col">ROLE</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#data.users}}
                            <tr id="account-{{id}}">
                                {{!-- <th scope="row"><input type="checkbox" /></th> --}}
                                <td class="tm-product-name" onclick="viewAccountDetail({{id}})" style="cursor: pointer;"> 
                                    {{name}}
                                </td>
                                <td>{{username}}</td>
                                <td>{{email}}</td>
                                <td>{{role}}</td>
                                <td>
                                    <a onclick="deleteAccount({{id}})" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/data.users}}
                        </tbody>
                    </table>
                    
                </div>
                <a href="/admin/addaccount" class="btn btn-primary btn-block text-uppercase mb-3">Add new account</a>
                <button class="btn btn-primary btn-block text-uppercase" onclick="deleteSelectedProducts()">
                    Delete selected products
                </button>
                <!-- table container -->
                
            </div>
        </div>
        {{!-- <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                <a href="/addaccount" class="btn btn-primary btn-block text-uppercase mb-3">Add account</a>
                <button class="btn btn-primary btn-block text-uppercase">
                    Delete selected accounts
                </button>
            </div>
        </div> --}}
        
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block t m-block-products">
                <div class="tm-product-table-container" style="height: 100%;">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                {{!-- <th scope="col">&nbsp;</th> --}}
                                <th scope="col">NAME</th>
                                <th scope="col">SLUG</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#data.groups}}
                            <tr id="group-{{id}}">
                                {{!-- <th scope="row"><input type="checkbox" /></th> --}}
                                <td class="tm-product-name" onclick="viewGroupDetail({{id}})" style="cursor: pointer;">{{name}}</td>
                                <td>{{slug}}</td>
                                <td class="text-center">
                                    <a onclick="deleteGroup({{id}})" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/data.groups}}
                            
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a href="/admin/addgroup" class="btn btn-primary btn-block text-uppercase mb-3">
                    Add new group
                </a>
            </div>
        </div>
    </div>
</div>