<div class="container mt-5">

    <!-- row -->
    <div class="row tm-content-row">
        {{!-- <div class="tm-block-col tm-col-avatar">
            <div class="tm-bg-primary-dark tm-block tm-block-avatar">
                <h2 class="tm-block-title">Change Avatar</h2>
                <div class="tm-avatar-container">
                    <img src="/admin/img/avatar.png" alt="Avatar" class="tm-avatar img-fluid mb-4" />
                    <a class="tm-avatar-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon">
                            <input type="file"/>
                        </i>
                    </a>
                </div>
                <button class="btn btn-primary btn-block text-uppercase">
                    Upload New Photo
                </button>
            </div>
        </div> --}}
        <div class="tm-block-col tm-col-account-settings">
            <div class="tm-bg-primary-dark tm-block tm-block-settings">
                <h2 class="tm-block-title">Account Settings</h2>
                <form id="update-account-form" class="tm-signup-form row">
                    <input id="id-account" value="{{data.id}}" style="display: none;"/>
                    <div class="form-group col-lg-6">
                        <label for="name">Account Name</label>
                        <input id="name" name="name" type="text" class="form-control validate" value="{{data.name}}" required/>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="email">Account Email</label>
                        <input id="email" name="email" type="email" class="form-control validate"
                            value="{{data.email}}" required/>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="phone">Phone</label>
                        <input id="phone" name="phone" type="tel" class="form-control validate"
                            value="{{data.phone}}" required/>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="sonha">Số nhà</label>
                        <input id="sonha" class="form-control validate" type="text" value="{{data.numHouse}}" name="sonha"
                        />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="street">Đường</label>
                        <input id="street" class="form-control validate" type="text" value="{{data.street}}" name="street"
                        />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="ward">Phường</label>
                        <input id="ward" class="form-control validate" type="text" value="{{data.ward}}" name="ward"
                        />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="district">Quận</label>
                        <input id="district" class="form-control validate" type="text" value="{{data.district}}" name="district"
                        />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="city">Thành phố</label>
                        <select class="custom-select tm-select-accounts" id="city" name="city" required>
                            <option value="">Select city</option>
                            {{#data.cities}}
                            {{#if selected}}
                            <option value='{{id}}' selected>{{name}}</option>
                            {{else}}
                            <option value='{{id}}'>{{name}}</option>
                            {{/if}}
                            {{/data.cities}}
                        </select>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="province">Tỉnh</label>
                        <input id="province" class="form-control validate" type="text" value="{{data.province}}" name="province"
                        />
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="tm-hide-sm">&nbsp;</label>
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">
                            Update Your Profile
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block t m-block-products">
                <div class="tm-product-table-container" style="height: 100%;">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">NAME</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#data.selectGroups}}
                            <tr id="group-{{id}}">
                                <th scope="row"><input type="checkbox" id="{{id}}" class="select-row" onchange="selectGroup(this)" checked/></th>
                                <td class="tm-product-name" onclick="viewGroupDetail({{id}})" style="cursor: pointer;">{{name}}</td>
                            </tr>
                            {{/data.selectGroups}}
                            {{#data.nonSelectGroups}}
                            <tr id="group-{{id}}">
                                <th scope="row"><input type="checkbox" id="{{id}}" class="select-row" onchange="selectGroup(this)"/></th>
                                <td class="tm-product-name" onclick="viewGroupDetail({{id}})" style="cursor: pointer;">{{name}}</td>
                            </tr>
                            {{/data.nonSelectGroups}}
                            
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <button class="btn btn-primary btn-block text-uppercase mb-3" onclick="updatePermission()">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>