<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Add Present</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-12">
                        <form method="post" id="add-present-form" class="tm-edit-product-form">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="form-group mb-3">
                                    <label for="name">Present Name
                                    </label>
                                    <input id="name" name="name" type="text"
                                        class="form-control validate" value="" required/>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="date-created">Start date
                                    </label>
                                    <input id="date-created" name="date-created" type="datetime-local" value=""
                                        class="form-control validate" required/>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="date-expired">Expired date
                                    </label>
                                    <input id="date-expired" name="date-expired" type="datetime-local" value=""
                                        class="form-control validate" required/>
                                </div>
                                <div class="row">
                                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                                        <label for="price">Price
                                        </label>
                                        <input id="price" name="price" type="text" value=""
                                            class="form-control validate" data-large-mode="true"/>
                                    </div>
                                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                                        <label for="amount">Amount
                                        </label>
                                        <input id="amount" name="amount" type="text" value=""
                                            class="form-control validate" required />
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="type">Type</label>
                                    <select class="custom-select tm-select-accounts" id="type" name="type" onchange="handlePresentType(this.id)" required>
                                        <option value="">Select type</option>
                                        {{#data.types}}
                                        <option value='{{name}}' class="text-uppercase">{{name}}</option>
                                        {{/data.types}}
                                    </select>
                                </div>
                            </div>
                            <div id="products" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col disabled">
                                <div class="tm-bg-primary-dark tm-block tm-block-products">
                                    <div class="tm-product-table-container">
                                        <table class="table table-hover tm-table-small tm-product-table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">&nbsp;</th>
                                                    <th scope="col">PRODUCT NAME</th>
                                                    <th scope="col">PRICE</th>
                                                    <th scope="col">AMOUNT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#data.products}}
                                                <tr id="row-{{id}}">
                                                    <th scope="row"><input type="checkbox" id="product_{{id}}" class="select-row" onchange="selectProductsVoucher(this)"/></th>
                                                    <td class="tm-product-name" id="product-{{id}}" onclick="viewProductDetail(this.id)" style="cursor: pointer;">
                                                        {{name}}
                                                    </td>
                                                    <td>{{price}}</td>
                                                    <td><input type="text" id="amount-{{id}}" class="form-control validate" style="background-color: transparent;" value="{{amount}}" disabled/></td> 
                                                </tr>
                                                {{/data.products}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Present</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>