<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Edit customer</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-12">
                        <form method="post" id="update-customer-form" class="tm-edit-product-form">
                        <input id="id-customer" value="{{data.id}}" style="display: none;"/>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="form-group mb-3">
                                    <label for="name">Name
                                    </label>
                                    <input id="name" name="name" type="text"
                                        class="form-control validate" value="{{data.name}}"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="phone">Phone
                                    </label>
                                    <input id="phone" name="phone" type="tel"
                                        class="form-control validate" value="{{data.phone}}"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="email">Email
                                    </label>
                                    <input id="email" name="email" type="email"
                                        class="form-control validate" value="{{data.email}}"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="uuid">UUID
                                    </label>
                                    <input id="uuid" name="uuid" type="text"
                                        class="form-control validate" value="{{data.uuid}}"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="user">User</label>
                                    <select class="custom-select tm-select-accounts" id="user" name="user">
                                        <option value="">Select user</option>
                                        {{#data.user}}
                                            {{#if selected}}
                                            <option value='{{id}}' class="text-uppercase" selected>{{name}}</option>
                                            {{else}}
                                            <option value='{{id}}' class="text-uppercase">{{name}}</option>
                                            {{/if}}
                                        {{/data.user}}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block text-uppercase">Update</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>