<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Edit Present</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-12">
                        <form method="post" id="update-present-form" class="tm-edit-product-form">
                        <input id="id_present" value="{{data.id}}" style="display: none;"/>
                        <input id="id_type" value="{{data.type}}" style="display: none;"/>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="form-group mb-3">
                                    <label for="name">Present Name
                                    </label>
                                    <input id="name" name="name" type="text"
                                        class="form-control validate" value="{{data.name}}"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="date-created">Start date
                                    </label>
                                    <input id="date-created" name="date-created" type="datetime-local" value="{{data.dateCreate}}"
                                        class="form-control validate" />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="date-expired">Expired date
                                    </label>
                                    <input id="date-expired" name="date-expired" type="datetime-local" value="{{data.dateEnd}}"
                                        class="form-control validate"/>
                                </div>
                                {{#if data.isDiscount}}
                                <div class="row">
                                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                                        <label for="price">Discount price
                                        </label>
                                        <input id="price" name="price" type="text" value="{{data.price}}"
                                            class="form-control validate" data-large-mode="true"/>
                                    </div>
                                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                                        <label for="amount">Amount
                                        </label>
                                        <input id="amount" name="amount" type="text" value="{{data.amount}}"
                                            class="form-control validate" />
                                    </div>
                                </div>
                                {{else if data.isVoucher}}
                                <div class="row">
                                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                                        <label for="price">Voucher value
                                        </label>
                                        <input id="price" name="price" type="text" value="{{data.price}}"
                                            class="form-control validate" data-large-mode="true" disabled/>
                                    </div>
                                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                                        <label for="amount">Amount
                                        </label>
                                        <input id="amount" name="amount" type="text" value="{{data.amount}}"
                                            class="form-control validate" />
                                    </div>
                                </div>
                                {{/if}}
                                <div class="form-group mb-3">
                                    <label for="type">Type</label>
                                    <input id="type" class="form-control validate" type="text" value="{{data.type}}" name="type" disabled/>
                                </div>
                            
                            </div>
                            {{#if data.isVoucher}}
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                                <div class="tm-bg-primary-dark tm-block tm-block-products">
                                    <div class="tm-product-table-container">
                                        <table class="table table-hover tm-table-small tm-product-table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">&nbsp;</th>
                                                    <th scope="col">PRODUCT NAME</th>
                                                    <th scope="col">PRICE</th>
                                                    <th scope="col">AMOUNT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#data.selectProducts}}
                                                <tr id="row-{{id}}">
                                                    <th scope="row"><input type="checkbox" id="product_{{id}}" class="select-row" onchange="selectProductsVoucher(this)" checked/></th>
                                                    <td class="tm-product-name"  id="product-{{id}}" onclick="viewProductDetail(this.id)" style="cursor: pointer;">
                                                        {{name}}
                                                    </td>
                                                    <td>{{price}}</td>
                                                    <td><input type="text" id="amount-{{id}}" class="form-control validate" style="background-color: transparent;" value="{{amount}}"/></td>
                                                    
                                                </tr>
                                                {{/data.selectProducts}}
                                                {{#data.nonSelectProducts}}
                                                <tr id="row-{{id}}">
                                                    <th scope="row"><input type="checkbox" id="product_{{id}}" class="select-row" onchange="selectProductsVoucher(this)"/></th>
                                                    <td class="tm-product-name" id="product-{{id}}" onclick="viewProductDetail(this.id)" style="cursor: pointer;">
                                                        {{name}}
                                                    </td>
                                                    <td>{{price}}</td>
                                                    <td><input type="text" id="amount-{{id}}" class="form-control validate" style="background-color: transparent;" value="{{amount}}" disabled/></td>
                                                    
                                                </tr>
                                                {{/data.nonSelectProducts}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- table container -->
                                    {{!-- <a href="/admin/addproduct" class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
                                    <button class="btn btn-primary btn-block text-uppercase" onclick="deleteSelectedProducts()">
                                        Delete selected products
                                    </button> --}}
                                </div>
                            </div>
                            {{/if}}
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Now</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>