<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">PRESENT NAME</th>
                                <th scope="col">START DATE</th>
                                <th scope="col">EXPIRED DATE</th>
                                <th scope="col">TYPE</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#data.presents}}
                            <tr id="{{id}}">
                                <th scope="row"><input type="checkbox" id="present_{{id}}" onchange="selectPresent(this)"/></th>
                                <td class="tm-product-name" id="present-{{id}}" onclick="viewPresentDetail(this.id)" style="cursor: pointer;">
                                    {{name}}
                                </td>
                                <td>{{start}}</td>
                                <td>{{end}}</td>
                                <td>{{type}}</td>
                                <td>
                                    
                                    <a onclick="deletePresent({{id}})" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/data.presents}}
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a href="/admin/addpresent" class="btn btn-primary btn-block text-uppercase mb-3">Add new present</a>
                <button class="btn btn-primary btn-block text-uppercase" onclick="deleteSelectedProducts()">
                    Delete selected presents
                </button>
            </div>
        </div>
        
    </div>
</div>