<div class="container mt-5">
    <div class="row tm-content-row">
        
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">PRODUCT NAME</th>
                                <th scope="col">UNIT SOLD</th>
                                <th scope="col">IN STOCK</th>
                                <th scope="col">DATE LISTED</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#data}}
                            <tr id="product-{{id}}" >
                                <th scope="row"><input type="checkbox" id="product_{{id}}" onchange="selectProducts(this)"/></th>
                                <td class="tm-product-name" onclick="viewProductDetail({{id}})" style="cursor: pointer;">
                                    {{ten_sanpham}}
                                </td>
                                <td>{{gia_sanpham}}</td>
                                <td>{{soluong_tonkho}}</td>
                                <td>{{ngay_list}}</td>
                                <td>
                                    
                                    <a onclick="deleteProduct({{id}})" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/data}}
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a href="/admin/addproduct" class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
                <button class="btn btn-primary btn-block text-uppercase" onclick="deleteSelectedProducts()">
                    Delete selected products
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">PRODUCT NAME</th>
                                <th scope="col">DISCOUNT PRICE</th>
                                <th scope="col">START DATE</th>
                                <th scope="col">EXPIRED DATE</th>
                                <th scope="col">STATUS</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#discountProducts}}
                            <tr id="discountproduct-{{idDiscount}}" >
                                <td class="tm-product-name" onclick="viewProductDetail({{id}})" style="cursor: pointer;">
                                    {{name}}
                                </td>
                                <td>{{price}}%</td>
                                <td>{{start}}</td>
                                <td>{{end}}</td>
                                <td>{{status}}</td>
                                <td>
                                    
                                    <a onclick="deleteDiscountProduct({{idDiscount}})" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/discountProducts}}
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">LOAI SANPHAM</th>
                                <th scope="col">THUONG HIEU</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#typeBrands}}
                            <tr id="spth-{{id}}" >
                                <td class="tm-product-name" onclick="viewTypeBrandDetail({{id}})" style="cursor: pointer;">
                                    {{type}}
                                </td>
                                <td>{{brand}}</td>
                                <td>                                    
                                    <a onclick="deleteTypeBrand({{id}})" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/typeBrands}}
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a href="/admin/addtypebrand" class="btn btn-primary btn-block text-uppercase mb-3">Add new</a>
                
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                <h2 class="tm-block-title">Product Brands</h2>
                <div class="tm-product-table-container">
                    <table class="table tm-table-small tm-product-table">
                        <tbody>
                            {{#brands}}
                            <tr id="brand-{{id}}">
                                <td class="tm-product-name" onclick="viewBrandDetail({{id}})" style="cursor: pointer;">{{ten}}</td>
                                <td class="text-center">
                                    <a onclick="deleteBrand({{id}})" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/brands}}
                            {{!-- <tr>
                                <td class="tm-product-name">Product Category 1</td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr> --}}
                            
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a href="{{urlAddBrand}}" class="btn btn-primary btn-block text-uppercase mb-3">
                    Add new brand
                </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                <h2 class="tm-block-title">Product Type</h2>
                <div class="tm-product-table-container">
                    <table class="table tm-table-small tm-product-table">
                        <tbody>
                            {{#types}}
                            <tr id="type-{{id}}">
                                <td class="tm-product-name" onclick="viewTypeDetail({{id}})" style="cursor: pointer;">{{ten}}</td>
                                <td class="text-center">
                                    <a onclick="deleteType({{id}})" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/types}}
                            {{!-- <tr>
                                <td class="tm-product-name">Product Category 1</td>
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr> --}}
                            
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a href="{{urlAddType}}" class="btn btn-primary btn-block text-uppercase mb-3">
                    Add new type
                </a>
            </div>
        </div>
    </div>
</div>