<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				{{#if checkout}}
					<li class="active">Check out</li>
				{{else}}
					<li class="active">Nothing to check out</li>
				{{/if}}
			</ol>
		</div>
		<!--/breadcrums-->

		{{!-- <div class="step-one">
			<h2 class="heading">Step1</h2>
		</div> --}}
		{{!-- <div class="checkout-options">
			<h3>New User</h3>
			<p>Checkout options</p>
			<ul class="nav">
				<li>
					<label><input type="checkbox"> Register Account</label>
				</li>
				<li>
					<label><input type="checkbox"> Guest Checkout</label>
				</li>
				<li>
					<a href=""><i class="fa fa-times"></i>Cancel</a>
				</li>
			</ul>
		</div>
		<!--/checkout-options--> --}}

		{{!-- <div class="register-req">
			<p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
		</div>
		<!--/register-req--> --}}

		{{#if checkout}}
		<div class="shopper-informations">

			<form id="checkout-form" method="post">
				<div class="row">

					<div class="col-sm-5 clearfix">
						<div class="bill-to">
							<p>Bill To</p>
							<div class="form-one">
								<input id="id_cart" value="{{id_cart}}" style="display: none;" />
								<input id="email" type="email" placeholder="Email*" name="email" />
								<input id="name" type="text" placeholder="Name*" name="name" />
								<input id="phone" type="text" placeholder="Phone" name="phone" />
							</div>
							<div class="form-two">
								<input id="sonha" type="text" placeholder="Số nhà" name="sonha" />
								<input id="street" type="text" placeholder="Tên đường" name="street" />
								<input id="ward" type="text" placeholder="Phường" name="ward" />
								<input id="district" type="text" placeholder="Quận" name="district" />
								<input id="city" type="text" placeholder="Thành phố" name="city" />
								<input id="province" type="text" placeholder="Tỉnh" name="province" />
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Shipping Order</p>
							<textarea id="message" name="message"
								placeholder="Notes about your order, Special Notes for Delivery" rows="16"></textarea>
							{{!-- <label><input type="checkbox"> Shipping to bill address</label> --}}
						</div>
					</div>
					<div class="col-sm-3">
						<div class="shopper-info">
							<p>Checkout confirmation</p>

							{{!-- <button class="btn btn-primary" type="submit">Check out</button> --}}
							<input class="btn btn-primary" type="submit" value="Check out" />
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="review-payment">
			<h2>Review & Payment</h2>
		</div>

		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					{{#data}}
					<tr id="detail-cart_{{id_detailcart}}">

						<td class="cart_product">
							<a href={{link_sanpham}}><img src={{thumbnail}} alt=""></a>
						</td>
						<td class="cart_description">
							<h4><a href="">{{ten_sanpham}}</a></h4>
							<p>Web ID: {{id_sanpham}}</p>
						</td>
						<td class="cart_price">
							<p>${{gia}}</p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<a class="cart_quantity_up" onclick="increment({{id_detailcart}},{{gia}})"
									style="cursor:pointer;"> + </a>
								<input class="cart_quantity_input" type="text" name="quantity"
									id="quanity_{{id_detailcart}}" value="{{so_luong}}" autocomplete="off" size="2">
								<a class="cart_quantity_down" onclick="decrement({{id_detailcart}},{{gia}})"
									style="cursor:pointer;"> - </a>
							</div>
						</td>
						<td class="cart_total">
							<p class="cart_total_price" id="total_{{id_detailcart}}"> ${{tong_cong}}</p>
						</td>
						<td class="cart_delete">

							<a class="cart_quantity_delete" onclick="removeDetailCart({{id_detailcart}})"><i
									class="fa fa-times"></i></a>
						</td>
					</tr>
					{{/data}}
					{{!-- <tr>
						<td class="cart_product">
							<a href=""><img src="images/cart/one.png" alt=""></a>
						</td>
						<td class="cart_description">
							<h4><a href="">Colorblock Scuba</a></h4>
							<p>Web ID: 1089772</p>
						</td>
						<td class="cart_price">
							<p>$59</p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<a class="cart_quantity_up" href=""> + </a>
								<input class="cart_quantity_input" type="text" name="quantity" value="1"
									autocomplete="off" size="2">
								<a class="cart_quantity_down" href=""> - </a>
							</div>
						</td>
						<td class="cart_total">
							<p class="cart_total_price">$59</p>
						</td>
						<td class="cart_delete">
							<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
						</td>
					</tr>

					<tr>
						<td class="cart_product">
							<a href=""><img src="images/cart/two.png" alt=""></a>
						</td>
						<td class="cart_description">
							<h4><a href="">Colorblock Scuba</a></h4>
							<p>Web ID: 1089772</p>
						</td>
						<td class="cart_price">
							<p>$59</p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<a class="cart_quantity_up" href=""> + </a>
								<input class="cart_quantity_input" type="text" name="quantity" value="1"
									autocomplete="off" size="2">
								<a class="cart_quantity_down" href=""> - </a>
							</div>
						</td>
						<td class="cart_total">
							<p class="cart_total_price">$59</p>
						</td>
						<td class="cart_delete">
							<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
						</td>
					</tr>
					<tr>
						<td class="cart_product">
							<a href=""><img src="images/cart/three.png" alt=""></a>
						</td>
						<td class="cart_description">
							<h4><a href="">Colorblock Scuba</a></h4>
							<p>Web ID: 1089772</p>
						</td>
						<td class="cart_price">
							<p>$59</p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<a class="cart_quantity_up" href=""> + </a>
								<input class="cart_quantity_input" type="text" name="quantity" value="1"
									autocomplete="off" size="2">
								<a class="cart_quantity_down" href=""> - </a>
							</div>
						</td>
						<td class="cart_total">
							<p class="cart_total_price">$59</p>
						</td>
						<td class="cart_delete">
							<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
						</td>
					</tr> --}}
					<tr>
						<td colspan="4">&nbsp;</td>
						<td colspan="2">
							<table class="table table-condensed total-result">
								<tr>
									<td>Cart Sub Total</td>
									<td>${{subTotal}}</td>
								</tr>
								<tr>
									<td>Exo Tax</td>
									<td>${{exoTax}}</td>
								</tr>
								<tr class="shipping-cost">
									<td>Shipping Cost</td>
									<td>${{shippingCost}}</td>
								</tr>
								<tr>
									<td>Total</td>
									<td><span>${{total}}</span></td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="payment-options">
			<span>
				<label><input type="checkbox"> Direct Bank Transfer</label>
			</span>
			<span>
				<label><input type="checkbox"> Check Payment</label>
			</span>
			<span>
				<label><input type="checkbox"> Paypal</label>
			</span>
		</div>
		{{else}}

		{{/if}}
	</div>
</section>
<!--/#cart_items-->