<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/history">History</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info" id="table-cart-container">
				{{#if empty}}
				<h3 class="table-empty">Nothing to show. Back to <a href="/products">Product page</a></h3>
				{{else}}
					<table class="table table-condensed" id="table-cart">
						<thead>
							<tr class="cart_menu">
								<td class="image">Item</td>
								<td class="description"></td>
								<td class="price">Price</td>
								<td class="quantity">Quantity</td>
								<td class="total">Total</td>
							</tr>
						</thead>
						<tbody id="detailcart-container">
							{{#data}}
								<tr id="detail-cart_{{id_detailcart}}" class="cart_detail">
									<td class="cart_product">
										<a href={{link_sanpham}}><img src={{thumbnail}} alt=""></a>
									</td>
									<td class="cart_description">
										<h4><a href="">{{ten_sanpham}}</a></h4>
										<p>Web ID: {{id_sanpham}}</p>
									</td>
									<td class="cart_price">
										<p>${{gia}}</p>
									</td>
									<td class="cart_quantity">
										<div class="cart_quantity_button">
											<input class="cart_quantity_input" type="text" name="quantity" id="quanity_{{id_detailcart}}" value="{{so_luong}}" autocomplete="off" size="2" disabled>
										</div>
									</td>
									<td class="cart_total">
										<p class="cart_total_price" id="total_{{id_detailcart}}"> ${{tong_cong}}</p>
									</td>
								</tr>
							{{/data}}
							{{#giftProducts}}
								<tr id="detail-cart_{{id_detailcart}}" class="cart_detail-voucher">
									<td class="cart_product">
										<a href={{link_sanpham}}><img src={{thumbnail}} alt=""></a>
									</td>
									<td class="cart_description">
										<h4><a href="">{{ten_sanpham}}</a></h4>
										<p>Web ID: {{id_sanpham}}</p>
									</td>
									<td class="cart_price">
										<p>${{gia}}</p>
									</td>
									<td class="cart_quantity">
										<div class="cart_quantity_button">
											<input class="cart_quantity_input" type="text" name="quantity" value="{{so_luong}}" autocomplete="off" size="2" disabled>
										</div>
									</td>
									<td class="cart_total">
										<p class="cart_total_price"> ${{tong_cong}}</p>
									</td>
									<td class="cart_delete">										
									</td>
								</tr>
							{{/giftProducts}}
						</tbody>
					</table>
				{{/if}}
			</div>
		</div>
	</section> <!--/#cart_items-->
    {{#if empty}}
	{{else}}
	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>Summary</h3>
			</div>
			<div class="row">
				<div class="col">
					<div class="total_area">
						<ul>
							<li id="cart-subTotal">Cart Sub Total <span id="subTotal">${{subTotal}}</span></li>
							<li id="cart-discount">Discount<span id="discount">{{discount}}%</span></li>
							<li id="cart-total">Total <span id="total">${{total}}</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->
	{{/if}}