<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>Category</h2>
					<div class="panel-group category-products" id="accordian">
						<!--category-productsr-->
						{{#types}}
						{{#if isSubUrl}}
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href={{url}}>
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										{{dataValues.ten_loaisp}}
									</a>
								</h4>
							</div>
							<div id="{{dataValues.ten_loaisp}}" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										{{#suburl}}
										<li><a href={{link}}>{{ten_thuonghieu}} </a></li>
										{{/suburl}}

									</ul>
								</div>
							</div>
						</div>
						{{else}}
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href={{url}}>{{dataValues.ten_loaisp}}</a></h4>
							</div>
						</div>
						{{/if}}
						{{/types}}
					</div>
					<!--/category-products-->

					<div class="brands_products">
						<!--brands_products-->
						<h2>Brands</h2>
						<div class="brands-name">
							<ul class="nav nav-pills nav-stacked">
								{{#brands}}
								<li><a href={{url}}> <span
											class="pull-right">({{dataValues.so_sanpham}})</span>{{dataValues.ten_thuonghieu}}</a>
								</li>
								{{/brands}}
							</ul>
						</div>
					</div>
					<!--/brands_products-->

					<div class="price-range">
						<!--price-range-->
						<h2>Price Range</h2>
						<div class="well">
							<input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600"
								data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
							<b>$ 0</b> <b class="pull-right">$ 600</b>
							<div style="margin-top: 2rem;">
								<button class="btn btn-default add-to-cart" onclick="searchMinMax()">Search</button>
							</div>
						</div>
					</div>
					<!--/price-range-->

					<div class="shipping text-center">
						<!--shipping-->
						<img src="images/home/shipping.jpg" alt="" />
					</div>
					<!--/shipping-->

				</div>
			</div>

			<div class="col-sm-9 padding-right">
				{{#if empty}}
				<h3>This product is no longer available in our system</h3>
				{{else}}
				<div class="product-details">
					<!--product-details-->
					<div class="col-sm-5">
						<div class="view-product">
							<img src={{data.detailImg}} alt="" />
							{{!-- <h3>ZOOM</h3> --}}
						</div>
						<div id="similar-product" class="carousel slide" data-ride="carousel">

							<!-- Wrapper for slides -->
							{{!-- <div class="carousel-inner">
								<div class="item">
									{{#each data.similarImg}}
									<a href=""><img src={{this}} alt=""></a>
									{{/each}}

								</div>
								<div class="item" style="">
									{{#each data.similarImg}}
									<a href=""><img src={{this}} alt=""></a>
									{{/each}}
								</div>
								<div class="item">
									{{#each data.similarImg}}
									<a href=""><img src={{this}} alt=""></a>
									{{/each}}

								</div>

							</div> --}}

							<!-- Controls -->
							{{!-- <a class="left item-control" href="#similar-product" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							</a>
							<a class="right item-control" href="#similar-product" data-slide="next">
								<i class="fa fa-angle-right"></i>
							</a> --}}
						</div>

					</div>
					<div class="col-sm-7">
						<div class="product-information">
							<!--/product-information-->
							{{#if data.isNew}}
							<img src="images/product-details/new.jpg" class="newarrival" alt="" />
							{{/if}}
							{{#if data.isDiscount}}
							<img src="images/product-details/discount.png" class="newarrival" alt="" />
							{{/if}}
							<h2>{{data.name}}</h2>
							<p>Web ID: <span id='product-id'>{{data.id}}</span></p>
							<span>
								{{#renderRatingStar data.rating}}
								{{/renderRatingStar}}
							</span>
							<span class="product-info">
								<span>US ${{data.price}}
									{{#if data.isDiscount}}
									<div style="text-decoration:line-through;font-size:1.6rem;">US ${{data.originPrice}}
									</div>
									{{/if}}
								</span>

								<label>Quantity:</label>
								<input type="text" value="3" id='quantity-product' />
								<button type="button" class="btn btn-fefault cart" id="add-cart-btn">
									<i class="fa fa-shopping-cart"></i>
									Add to cart
								</button>
							</span>
							<p><b>Availability:</b> {{data.availability}}</p>
							<p><b>Condition:</b> New</p>
							<p><b>Brand:</b> {{data.brand}}</p>
							<p><b>Time Views:</b> {{timesView}}</p>
							<a href=""><img src="images/product-details/share.png" class="share img-responsive"
									alt="" /></a>
						</div>
						<!--/product-information-->
					</div>
				</div>
				
				<!--/product-details-->

				<div class="category-tab shop-details-tab">
					<!--category-tab-->
					<div class="col-sm-12">
						<ul class="nav nav-tabs">
							<li><a href="#details" data-toggle="tab">Details</a></li>
							{{!-- <li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
							<li><a href="#tag" data-toggle="tab">Tag</a></li> --}}
							<li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade" id="details">
							{{!-- <div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/gallery1.jpg" alt="" />
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/gallery2.jpg" alt="" />
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/gallery3.jpg" alt="" />
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/gallery4.jpg" alt="" />
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div> --}}
							<p>Description: {{data.description}}</p>
							<p>Listing date: {{data.listDate}}</p>
							<p>Product type: {{data.type}}</p>
							<p>Product brand: {{data.brand}}</p>
						</div>

						{{!-- <div class="tab-pane fade" id="companyprofile">
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/gallery1.jpg" alt="" />
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/gallery3.jpg" alt="" />
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/gallery2.jpg" alt="" />
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/gallery4.jpg" alt="" />
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane fade" id="tag">
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/gallery1.jpg" alt="" />
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/gallery2.jpg" alt="" />
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/gallery3.jpg" alt="" />
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="images/home/gallery4.jpg" alt="" />
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i
													class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
						</div> --}}

						<div class="tab-pane fade active in" id="reviews">
							<div class="col-sm-12" id="_reviews">

								{{#reviews}}
								<div>
									<ul>
										<li><a href=""><i class="fa fa-user"></i>{{name}}</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>{{hour}}</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>{{date}}</a></li>
									</ul>
									<p>{{description}}</p>
								</div>
								{{/reviews}}

								<p><b>Write Your Review</b></p>

								<form id='review-form'>
									{{#if auth}}
									{{else}}
									<span class="review-form-input">
										<input type="text" placeholder="Your Name" id="name" />
										<input type="email" placeholder="Email Address" id="email" />
									</span>
									{{/if}}
									<textarea id="description"></textarea>
									<b>Rating: </b>
									{{!-- <img src="images/product-details/rating.png" alt="" /> --}}
									<span>
										<span onclick="getRatingStar('rating-1')" id="rating-1"
											class="fa fa-star rating-star"></span>
										<span onclick="getRatingStar('rating-2')" id="rating-2"
											class="fa fa-star rating-star"></span>
										<span onclick="getRatingStar('rating-3')" id="rating-3"
											class="fa fa-star rating-star"></span>
										<span onclick="getRatingStar('rating-4')" id="rating-4"
											class="fa fa-star rating-star"></span>
										<span onclick="getRatingStar('rating-5')" id="rating-5"
											class="fa fa-star rating-star"></span>
									</span>
									<button type="submit" class="btn btn-default pull-right">
										Submit
									</button>
								</form>
							</div>
						</div>

					</div>
				</div>
				<!--/category-tab-->

				<div class="recommended_items">
					<!--recommended_items-->
					<h2 class="title text-center">Related items</h2>

					<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="item active">
								{{#activeRelateProducts}}
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{thumbnail}}" alt="" />
												<h2>${{price}}</h2>
												<p>{{name}}</p>
												<a href='{{url}}' class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>View</a>
											</div>
										</div>
									</div>
								</div>
								{{/activeRelateProducts}}
								{{!-- <div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/recommend1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/recommend2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/recommend3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div> --}}
							</div>
							<div class="item">
								{{!-- <div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/recommend1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/recommend2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/recommend3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div> --}}
								{{#unactiveRelateProducts}}
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{thumbnail}}" alt="" />
												<h2>${{price}}</h2>
												<p>{{name}}</p>
												<a href='{{url}}' class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>View</a>
											</div>
										</div>
									</div>
								</div>
								{{/unactiveRelateProducts}}
							</div>
						</div>
						<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
				{{/if}}
				<!--/recommended_items-->

			</div>
		</div>
	</div>
</section>