<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"></span><span class="text-black-50">{{user.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form id='profile-form' method="post">
                    <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" name="name" value={{user.ten}}></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Phone</label><input type="text" class="form-control" name="phone" value="{{user.phone}}"></div>
                        <div class="col-md-12"><label class="labels">Số nhà</label><input type="text" class="form-control"  name="sonha" value="{{diachi.so_nha}}"></div>
                        <div class="col-md-12"><label class="labels">Tên đường</label><input type="text" class="form-control" name="street" value="{{diachi.ten_duong}}"></div>
                        <div class="col-md-12"><label class="labels">Phường</label><input type="text" class="form-control"  name="ward" value="{{diachi.phuong}}"></div>
                        <div class="col-md-12"><label class="labels">Quận</label><input type="text" class="form-control" name="district" value="{{diachi.quan}}"></div>
                        <div class="col-md-12"><label class="labels">Thành phố</label><input type="text" class="form-control" name="city" value="{{diachi.thanh_pho}}"></div>
                        <div class="col-md-12"><label class="labels">Tỉnh</label><input type="text" class="form-control" name="province" value="{{diachi.tinh}}"></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="email" class="form-control" placeholder="education" name="email" value="{{user.email}}"></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>